DB_DIALECT=sqlite
DB_STORAGE=./database.sqlite
DB_HOST=localhost
DB_PORT=3306
DB_NAME=traffic
DB_USER=root
DB_PASS=root
JWT_SECRET=your_jwt_secret
JWT_EXPIRE=7d

GATEWAY_PORT=4000
AUTH_PORT=4100
VEHICLES_PORT=4200
TRAFFIC_PORT=4300
INCIDENTS_PORT=4500
NOTIFICATIONS_PORT=4400
